<a href="https://colab.research.google.com/github/Nazal-nihad/Python_Lab_Cycles/blob/main/Lab_cycle_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**QN 1**

In [ ]:
import pandas as pd
ask = int(input("enter the no of months to find : "))
if ask==1:
  print(2)
else:  
  month1 = 2
  month2 = 2
  total,i=0,0
  rabbits = [2,2]
  for i in range(ask-2):
    total = month2+month1
    rabbits.append(total)
    month1 = month2
    month2 = total
    i+=1
  
  data = pd.DataFrame({'no of rabbits': rabbits}, index=range(1, ask+1))
  for index, row in data.iterrows():
    print("Month", index, ":", row["no of rabbits"])

enter the no of months to find : 12
Month 1 : 2
Month 2 : 2
Month 3 : 4
Month 4 : 6
Month 5 : 10
Month 6 : 16
Month 7 : 26
Month 8 : 42
Month 9 : 68
Month 10 : 110
Month 11 : 178
Month 12 : 288

In [ ]:
ask = int(input("enter the no of months to find : "))
if ask==1:
  print(2)
else:  
  month1 = 2
  month2 = 2
  total,i=0,0
  rabbits = [2,2]
  for i in range(ask-2):
    total = month2+month1
    rabbits.append(total)
    month1 = month2
    month2 = total
    i+=1

  count=0
  for k in rabbits:
    print("Month ",rabbits.index(k)+1," : ",k)
    if k==2:
      count+=1
    if count>0:
      rabbits[rabbits.index(k)]=-1

enter the no of months to find : 12
Month  1  :  2
Month  2  :  2
Month  3  :  4
Month  4  :  6
Month  5  :  10
Month  6  :  16
Month  7  :  26
Month  8  :  42
Month  9  :  68
Month  10  :  110
Month  11  :  178
Month  12  :  288

QN 2

In [ ]:
#string_int = '1 2 2 4 4 6 7 8 9 10 11'
string_int = str(input("Enter numbers with spaces "))
string_split = string_int.split()
print("=== Splitted string ===")
print(string_split)
string_to_int = [int(i) for i in string_split]
print("=== String to int is ===")
print(string_to_int)

ask = int(input("How many times you wanna roate : "))
rotate = (string_to_int[-ask:])
left = (string_to_int[0:len(string_to_int)-ask])
rotated_list = rotate+left
print("rotated ",ask," times ")
print(rotated_list)

print("== list to tuple ==")
tupled_list = tuple(string_to_int)
print(tupled_list)

print("=== duplicates removed tuple ===")
rm_dupe = tuple(set(tupled_list))
print(rm_dupe)

print("=== duplicates removed tuple to list ===")
no_dupe_list = list(rm_dupe)
print(no_dupe_list)

print("=== operation of f(x)=x^2-x ===")
op_list = [i*i - i for i in string_to_int]
print(op_list)

print("=== sorted list ===")
sorted_list = sorted(set(no_dupe_list+op_list))
print(sorted_list)

Enter numbers with spaces 1 2 3 4 5 88 9 9 7 4
=== Splitted string ===
['1', '2', '3', '4', '5', '88', '9', '9', '7', '4']
=== String to int is ===
[1, 2, 3, 4, 5, 88, 9, 9, 7, 4]
How many times you wanna roate : 2
rotated  2  times
[7, 4, 1, 2, 3, 4, 5, 88, 9, 9]
== list to tuple ==
(1, 2, 3, 4, 5, 88, 9, 9, 7, 4)
=== duplicates removed tuple ===
(1, 2, 3, 4, 5, 7, 9, 88)
=== duplicates removed tuple to list ===
[1, 2, 3, 4, 5, 7, 9, 88]
=== operation of f(x)=x^2-x ===
[0, 2, 6, 12, 20, 7656, 72, 72, 42, 12]
=== sorted list ===
[0, 1, 2, 3, 4, 5, 6, 7, 9, 12, 20, 42, 72, 88, 7656]