<a href="https://colab.research.google.com/github/Nazal-nihad/Raptor_to_python/blob/main/Lab_cycle_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Qn 1**

In [ ]:

num = int(input("enter a 4 digit number : "))
length = len(str(num))

if(length == 4):
  i , reverse , sum = 1,0,0
  odd_place , even_place = 1,1

  while(i<=length):
    #finding the last digit
    a = num%10

    if i%2==0: 
      #checking even place , multiplying and storing                
      even_place = even_place*a 
    else:
      #checking odd place , multiplying and storing                      
      odd_place = odd_place*a 

    #reverse the integer
    reverse = reverse*10 + a
    #find sum of integer 
    sum += a 
    #change original digit                  
    num=num//10      
    i+=1

  #difference b/w product of numbers at odd and even place 
  difference =  even_place-odd_place
  print("\n the reverse of the number is : ",reverse," \n the sum of the integers in the number is : " ,sum,"\n the differce b/w products of integers in even place and odd place is : ",difference)
else:
  print("Please enter a 4 digit number!!")

enter a 4 digit number : 3576

 the reverse of the number is :  6753
 the sum of the integers in the number is :  21
 the differce b/w products of integers in even place and odd place is :  -9

**Qn 2**

In [ ]:
import math

#function to get input of 3 sides of a triangle
def sides():
  s1 = int(input("enter the side 1 : "))
  s2 = int(input("enter the side 2 : "))
  s3 = int(input("enter the side 3 : "))
  return s1,s2,s3

#function to find are from the given sides 
def area(s1,s2,s3):
  area = 0
  #semi perimeter 
  s = (s1+s2+s3)/2
  area = math.sqrt(s*(s-s1)*(s-s2)*(s-s3))
  print("area of the triangle is : ",round(area,2)) #area rounded off to 2 digits
  return area

#function to find contribution of each triangle in total area
def percentage(area1,area2):
  total = area1+area2
  print("\n total are of the triangles are : ",round(total,2))
  #contribution of triangle 1 and round off to 2 digits
  triangle1 = round(area1*100/total,2)
  #contribution of triangle 2 and round off to 2 digits
  triangle2 = round(area2*100/total,2)

  print(" percentage contribution of triangle 1 in total area is : ",triangle1,"%")
  print(" percentage contribution of triangle 2 in total area is : ",triangle2,"%")

print("\n --- Triangle 1 ---")
#call function to get sides
a,b,c = sides()
#call function to find area
area1 = area(a,b,c)

print("\n --- Triangle 2 ---")
a1,b2,c3 = sides()
area2 = area(a1,b2,c3)

#call function to find percentage of each
percentage(area1,area2)

 --- Triangle 1 ---
enter the side 1 : 3
enter the side 2 : 4
enter the side 3 : 5
area of the triangle is :  6.0

 --- Triangle 2 ---
enter the side 1 : 6
enter the side 2 : 6
enter the side 3 : 6
area of the triangle is :  15.59

 total are of the triangles are :  21.59
 percentage contribution of triangle 1 in total area is :  27.79 %
 percentage contribution of triangle 2 in total area is :  72.21 %

**Qn 4**

In [86]:
#happy number problem 

def happy(num):
  for i in range(1,101):
    sum = 0
    while num>0:
      remainder = num%10
      sum = sum + remainder**2
      num = num//10

    if sum==1:
      return True
    elif num<1:
      num = sum
    if i==100 :
      return False

def range_happy(lower , upper):
  happy_count = 0 
  for i in range(lower , upper):
    if happy(i) == True:
      happy_count += 1
      print(i)
  if happy_count == 0:
      print("there are no happy numbers in the given range")

def n_happy(limit):
  n = 0
  i=1
  while i>=1:
    if happy(i) == True:
      print(i)
      n+=1
    i+=1
    if n == limit:
      break

print("\n--- To check if a number is happy or sad ---")
num = int(input("enter num : "))
if happy(num) == True:
  print(num , " is a happy number")
else:
  print(num , " the number is sad")

print("\n--- To find the happy numbers in the given range ---")

lower = int(input("Enter the lower limit : "))
upper = int(input("Enter the upper limit : "))
range_happy(lower,upper)

print("\n--- To find n happy numbers ---")
limit =  int(input("enter the limit : "))
n_happy(limit)

--- To check if a number is happy or sad ---
enter num : 97
97  is a happy number

--- To find the happy numbers in the given range ---
Enter the lower limit : 1
Enter the upper limit : 15
1
7
10
13

--- To find n happy numbers ---
enter the limit : 5
1
7
10
13
19

Qn 3

In [84]:
def gross_salary(bp,da,hra,ma):
  gross_salary = bp+da+hra+ma
  return gross_salary

def deduction(pt,pf,it):
  deduction = pt+pf+it
  return deduction

def net_salary(gs,d):
  net_salary = (gs - d)
  return net_salary

def payment_slip(name,code,basic_pay):
  if basic_pay<10000:
    da = (5*basic_pay)/100
    hra = (2.5*basic_pay)/100
    ma = 500
    pt = 20
    pf = (8*basic_pay)/100
    it = 0
    Gross_Salary = gross_salary(basic_pay,da,hra,ma)
    Deduction = deduction(pt,pf,it)
    Net_Salary = net_salary(Gross_Salary,Deduction)

  elif basic_pay<30000:
    da = (7.5*basic_pay)/100
    hra = (5*basic_pay)/100
    ma = 2500
    pt = 60
    pf = (8*basic_pay)/100
    it = 0
    Gross_Salary = gross_salary(basic_pay,da,hra,ma)
    Deduction = deduction(pt,pf,it)
    Net_Salary = net_salary(Gross_Salary,Deduction)

  elif basic_pay<50000:
    da = (11*basic_pay)/100
    hra = (7.5*basic_pay)/100
    ma = 5000
    pt = 60
    pf = (11*basic_pay)/100
    it = (11*basic_pay)/100
    Gross_Salary = gross_salary(basic_pay,da,hra,ma)
    Deduction = deduction(pt,pf,it)
    Net_Salary = net_salary(Gross_Salary,Deduction)

  else:
    da = (25*basic_pay)/100
    hra = (7.5*basic_pay)/100
    ma = 5000
    pt = 60
    pf = (12*basic_pay)/100
    it = (20*basic_pay)/100
    Gross_Salary = gross_salary(basic_pay,da,hra,ma)
    Deduction = deduction(pt,pf,it)
    Net_Salary = net_salary(Gross_Salary,Deduction)

  print("\n--- payment slip ---")
  print("Employee name : ",name)
  print("Employee code : ",code)
  print("Employee Basic pay : ",basic_pay)
  print("Employee Gross Salary : ",Gross_Salary)
  print("Employee deduction : ",Deduction)
  print("Employee Net Salary : ",Net_Salary)
  

name = str(input("enter your name : "))
code = int(input("enter your code : "))
basic_pay = int(input("please enter your basic pay : "))

payment_slip(name,code,basic_pay)

enter your name : Nazal Nihad TT
enter your code : 17
please enter your basic pay : 333333

--- payment slip ---
Employee name :  Nazal Nihad TT
Employee code :  17
Employee Basic pay :  333333
Employee Gross Salary :  446666.225
Employee deduction :  106726.56
Employee Net Salary :  339939.665

**Qn 5**